.header {
  position: absolute;
  left: 0;
  right: 0;
}

.mouse {
  position: absolute;
  top: 90.3vh;
  left: 8.4375vw;
  width: 25px;
  height: 36px;
  border-radius: 30px;
  -moz-transform: none; /* Для Firefox */
  -ms-transform: none; /* Для IE */
  -webkit-transform: none; /* Для Safari, Chrome, iOS */
  -o-transform: none; /* Для Opera */
  transform: none;
  border: 2px solid white;
  z-index: 1;
  box-sizing: border-box;

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 62px;
    top: -90px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    background-color: #fff;
  }

  &__roller {
    display: block;
    margin: 8px auto;
    background: #fff;
    position: relative;
    border-radius: 2px;
    width: 2px;
    height: 6px;
    animation: move 1s infinite;
  }
}