section#main.page.page-0.js-page.is-show
    .container.page-0__bg.container_page-0.js-layout-set-height.container_page-0.container_narrow_0.visual-effects-slide.visual-effects-slide_main-page(style='background-image: url("img/page0/screen_1_bg.png")' data-v-pos="0" data-h-pos="0")
        .page__part.page__left.page-0__left
            .content.content__left
                a.logo(href="https://novex.ru" target="_blank") Novex

                .page-0__text
                    .page-0__date с 29 июля по 31 августа 2019
                    h1.page-0__title Выиграй технику для дома или 3000₽ на бонусную карту
                    a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека
                .mouse
                    .mouse__roller

