section.page.page-4.js-page
    #conditions.container.js-layout-set-height.container_left.container_page-4.page__part.page__left.conditions-slide.container_narrow_6.page-conditions(data-v-pos='7', data-h-pos='4')
        .bg-absolute
            img(src="img/page4/stock.png")
    .container.js-layout-set-height.container_right.container_page-4.page__part.page__right.visual-effects-slide.visual-effects-slide_salute.tablet-hidden(data-h-pos='4')
        .bg-absolute.bg-chess
        .content.content__left.block-vertical-center.slide-content-right
            .title-sm Полные правила акции
            .content__text
                | Настоящие правила регламентируют порядок организации
                | и проведения рекламной акции (далее Акция) на территории
                | всех магазинов «НОВЭКС». Информация об Организаторе Акции, о правилах
                | её проведения, количестве призов, сроках, месте и порядке их получения
                | размещаются на сайте novex.ru. (далее – Сайт акции) или сообщаются по
                | телефону горячей линии 8 (800) 200-45-50
            a(href="#").button.button-red.button-blue Открыть в новой вкладке
            a(href="#").button.button-red.button-blue Скачать в PDF