section.page.page-1.js-page
    .container.container_page-1.page__part.page__left.page-1__left.js-layout-set-height.container_left.container_page-1.page__part.page__left.container_narrow_1.visual-effects-slide.visual-effects-slide.page-information-left(id="stimulating"
        data-v-pos="1" data-h-pos="1")
        .content.content__left.content__top
            .content__title Каждую субботу
            .page-1__card
                .page-1__stiker
                    .page-1__stiker-text + 3000₽
            a(href='#').button.button-red.block-horizontal-center Зарегистрировать код с чека


    .container.container_page-1.page__part.page-1__right.js-layout-set-height.container_right.container_page-1.page__part.page__right.container_narrow_2.visual-effects-slide.visual-effects-slide.page-first-step-right(id="stimulating-ext"
        data-v-pos="2" data-h-pos="1")
            .content.content__left.content__top
                .content__title Каждое воскресенье
            .content
                .page-1__technic-list
                    .page-1__technic.fridge
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Холодильник Hotpoint-Ariston

                    .page-1__technic.washer
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Стиральная машина Samsung
                    .page-1__technic.dishwasher
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Посудомоечная машина Electrolux
                    .page-1__technic.hoover
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Робот-пылесос Xiaomi
            .page-1__pattern
                <svg width="960" height="960" viewBox="0 0 960 960" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M960 720L720 480L720 720L480 480L480 720L240 480V720L0 480H240H480H720L960 480L960 720Z" fill="#5BC6E8"/>
                <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M960 480L720 240L720 480L480 240L480 480L240 240V480L0 240H240H480H720L960 240L960 480Z" fill="white"/>
                <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M960 960L720 720L720 960L480 720L480 960L240 720V960L0 720H240H480H720L960 720L960 960Z" fill="#5BC6E8"/>
                </svg>

