section#prizes.page.page-1.js-page
    .container.container_page-1.page__part.page__left.page-1__left.js-layout-set-height.container_left.container_page-1.page__part.page__left.container_narrow_1.visual-effects-slide.visual-effects-slide.page-information-left(data-v-pos="1" data-h-pos="1")
        .content.content__left.content__top
            .content__title Каждую субботу
            .page-1__card
                .page-1__stiker
                    .page-1__stiker-text + 3000₽
            a(href='#register').button.button-red.block-horizontal-center.js-scroll-link Зарегистрировать код с чека


    .container.container_page-1.page__part.page-1__right.js-layout-set-height.container_right.container_page-1.page__part.page__right.container_narrow_2.visual-effects-slide.visual-effects-slide.page-first-step-right(id="stimulating-ext"
        data-v-pos="2" data-h-pos="1")
            .content.content__left.content__top
                .content__title Каждое воскресенье
            .content
                .page-1__technic-list
                    .page-1__technic.fridge
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Холодильник Hotpoint-Ariston

                    .page-1__technic.washer
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Стиральная машина Samsung
                    .page-1__technic.dishwasher
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Посудомоечная машина Electrolux
                    .page-1__technic.hoover
                        .page-1__technic-stiker
                            .page-1__technic-stiker-text Робот-пылесос Xiaomi
            .page-1__pattern

