section.page.page-1.js-page
    .container.container_page-1.page__part.page__left.page-1__left.js-layout-set-height.container_left.container_page-1.page__part.page__left.container_narrow_1.visual-effects-slide.visual-effects-slide.page-information-left(id="stimulating"
        data-v-pos="1" data-h-pos="1")
        .content.content__left
            .content__title Каждую субботу


    .container.container_page-1.page__part.page-1__right.js-layout-set-height.container_right.container_page-1.page__part.page__right.container_narrow_2.visual-effects-slide.visual-effects-slide.page-first-step-right(id="stimulating-ext"
        data-v-pos="2" data-h-pos="1")
            .content.content__right
                .content__title Каждое воскресенье