button,
.button {
    cursor: pointer;

    &:focus,
    &:active {
        outline: none;
    }
}

.button {
    width: auto;
    display: inline-block;
    padding: 18px 33px;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;

    @include md-block {
        padding: 12px 20px;
        font-size: 18px;
        line-height: 22px;
    }
}

.button-red {
    background: #ff4f73;

    &:hover {
        box-shadow: 0 4px 22px rgba(255, 79, 115, 0.84);
    }

    &:active {
        background: #ed395e;
    }
}

.button-blue {
    background: #5bc6e8;

    &:hover {
        box-shadow: 0 4px 22px rgba(20, 167, 221, 0.8);
    }

    &:active {
        background: #2faad1;
    }

    &:last-child {
        margin-right: 0;
    }
}
