button.button.button-red Зарегистрировать код с чека
a(href='#').button.button-red Link Зарегистрировать код с чека







.page.page-5.is-show.js-page.js-page-winners
  #winners.container.container_winners.js-layout-set-height.container_page-5.page__part.page__full.winners-slide.visual-effects-slide.visual-effects-slide_winners.container_narrow_7(data-h-pos='5' data-v-pos='8')
    .winners.js-winners
      .winners__header.clearfix
        .winners__header-left
          h2.title-sm
            | Победители
        .winners__header-right

      .winners__list.js-winners__list
        .winners__navigation.js-winners__navigation(style='display: none;')
          .winners__nav.winners__nav_left.js-winners__nav-left
            .winners__arrow.block-vertical-center
          .winners__nav.winners__nav_right.js-winners__nav-right
            .winners__arrow.block-vertical-center
        .swiper-container.swiper-container_margin
          // js-swiper-container
          div
            // swiper-wrapper
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    |  5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****71
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****09
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****99
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****95
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****01
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****90
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount.winners__item-amount_tv
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****25
            .winners__item(style='background-image: url(http://gardex.novex.ru/images/uploads/custom/thumbs-avatar-placeholder_bonus.jpg)')
              .winners__item-wrapper
                .winners__item-container
                  .winners__item-amount
                    span.winners__item-amount__content.block-vertical-center
                      | 3 000
                  .winners__item-name
                    span Антон Пампушный
                  .winners__item-date
                    | 5 мая 2019,
                    | г. Кемерово
                  .winners__item-date
                    | 295*****29



section.stock
.container
    .content.content__left


    .content.content__right
        .container
            .content__title Полные правила акции
            .content__text 
                |Настоящие правила регламентируют порядок организации 
                |и проведения рекламной акции (далее Акция) на территории 
                |всех магазинов «НОВЭКС». Информация об Организаторе Акции, о правилах 
                |её проведения, количестве призов, сроках, месте и порядке их получения 
                |размещаются на сайте novex.ru. (далее – Сайт акции) или сообщаются по 
                |телефону горячей линии 8 (800) 200-45-50 
            .button.button-red.button-blue Открыть в новой вкладке
            .button.button-red.button-blue Скачать в PDF