section.page.page-2.js-page
    .container.container_page-2.page__part.page__left.page-2__left.js-layout-set-height.container_left.container_page-2.page__part.page__left.container_narrow_2.visual-effects-slide.visual-effects-slide.page-information-left(id="stimulating"
        data-v-pos="1" data-h-pos="1")
        .page-2__pattern-circle
            <svg width="961" height="480" viewBox="0 0 961 480" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.1">
            <circle cx="120" cy="120" r="120" fill="#5BC6E8"/>
            <circle cx="361" cy="120" r="120" fill="#5BC6E8"/>
            <circle cx="601" cy="120" r="120" fill="#5BC6E8"/>
            <circle cx="841" cy="120" r="120" fill="#5BC6E8"/>
            <circle cx="120" cy="360" r="120" fill="#5BC6E8"/>
            <circle cx="361" cy="360" r="120" fill="#5BC6E8"/>
            <circle cx="601" cy="360" r="120" fill="#5BC6E8"/>
            <circle cx="841" cy="360" r="120" fill="#5BC6E8"/>
            </g>
            </svg>
        .content.content__left.content__vertical-half
            .page-2__text
                .page-2__date с 29 июля по 31 августа 2019
                h2.page-2__title Купи товар на сумму от 500₽ и&nbsp;участвуй в розыгрыше
                a(href='#').button.button-red Зарегистрировать код с чека
        .content.content__vertical-half.page-2__white-bg
            .page-2__parner-list
                .page-2__parner
                    img(src='img/page2/laska_logo.png')
                .page-2__parner
                    img(src='img/page2/pemolux_logo.png')
                .page-2__parner
                    img(src='img/page2/clin_logo.png')
                .page-2__parner
                    img(src='img/page2/pril_logo.png')
                .page-2__parner
                    img(src='img/page2/persil_logo.png')
                .page-2__parner
                    img(src='img/page2/losk_logo.png')
                .page-2__parner
                    img(src='img/page2/somat_logo.png')
                .page-2__parner
                    img(src='img/page2/bref_logo.png')
                .page-2__parner
                    img(src='img/page2/e_logo.png')
                .page-2__parner
                    img(src='img/page2/pemos_logo.png')
                .page-2__parner
                    img(src='img/page2/deni_logo.png')
                .page-2__parner
                    img(src='img/page2/vernel_logo.png')


    .container.container_page-2.page__part.page-2__right.js-layout-set-height.container_right.container_page-2.page__part.page__right.container_narrow_2.visual-effects-slide.visual-effects-slide.page-first-step-right(id="stimulating-ext"
        data-v-pos="2" data-h-pos="1")
            .page-2__block-title
                | Купи товары по выгодным ценам в интернет-магазине
                |
                a(href="https://novex.ru" target="_blank") novex.ru
            .content.page-2__product-wrap
                .page-2__product-list
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/vernel_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/laska_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/bref_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/losk_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/clin_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/pemolux_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/somat_card.png")
                    a(href="#" target="_blank").page-2__product
                        img(src="img/page2/somat-salt_card.png")
