section#winners.page.page-5.js-page.js-page-winners
    .container.container_winners.js-layout-set-height.container_page-5.page__part.page__full.winners-slide.visual-effects-slide.visual-effects-slide_winners.container_narrow_7(data-h-pos='5' data-v-pos='8')
        .winners.js-winners
            .winners__header.clearfix
                .winners__header-left
                    h2.title-sm
                        | Победители
                .winners__header-right

            .winners__list.js-winners__list
                .winners__navigation.js-winners__navigation(style='display: none;')
                    .winners__nav.winners__nav_left.js-winners__nav-left
                        .winners__arrow.block-vertical-center
                    .winners__nav.winners__nav_right.js-winners__nav-right
                        .winners__arrow.block-vertical-center
                .js-slider-container.swiper-container.swiper-container_margin
                    .winners__item
                        .winners__item-wrapper
                            .winners__item-container
                                .winners__item-amount
                                    span.winners__item-amount__content.block-vertical-center
                                        | 3 000 ₽
                                .winners__item-name
                                    span Антон Пампушный
                                .winners__item-date
                                    |  5 мая 2019,
                                    | г. Кемерово
                                .winners__item-date
                                    | 295*****71
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount.winners__item-technics
                    //                img(src='img/page5/washer-6.png')
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****09
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000 ₽
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****99
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000 ₽
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****95
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****01
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000 ₽
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****90
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount.winners__item-technics
                    //                img(src='img/page5/fridge-6.png')
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****25
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000 ₽
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019,
                    //                | г. Кемерово
                    //            .winners__item-date
                    //                | 295*****29
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000 ₽
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019
                    //.winners__item
                    //    .winners__item-wrapper
                    //        .winners__item-container
                    //            .winners__item-amount
                    //                span.winners__item-amount__content.block-vertical-center
                    //                    | 3 000 ₽
                    //            .winners__item-name
                    //                span Антон Пампушный
                    //            .winners__item-date
                    //                | 5 мая 2019
                    a.winners__item.winners__item_new.in-block.js-scroll-link(href='#register')
                        .winners__item-container
                            .winners__item-logo
                            .winners__item-prize
                            .winners__item-date-new
                                | 21 Июля 2019г.
                            .winners__item-text
                                span Здесь можете быть вы
                                span Принять участие
